@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var requestTheme = Context.Request.Cookies["theme"] ?? "dark";
    var themeItems = new List<SelectListItem>()
    {
        new SelectListItem(Localizer["Ciemny"].Value, "dark"),
        new SelectListItem(Localizer["Jasny"].Value, "light")
    };
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<div>
    <form id="selectTheme" asp-controller="Home"
          asp-action="SetTheme" asp-route-returnUrl="@returnUrl"
          method="post" class="form-horizontal" role="form">
        <label asp-for="@requestTheme">@Localizer["Motyw:"]</label>
        <select name="theme"
                onchange="this.form.submit();"
                asp-for="@requestTheme" asp-items="themeItems">
        </select>
    </form>
</div>
